title: "Canadian Association of the New Ukrainian Generation"
description: "A non-profit organization in Canada supporting the Ukrainian community through social, educational, and cultural initiatives."
url: "https://lemik.github.io"
baseurl: "/CANUG"

author:
  name: "Canadian Association of the New Ukrainian Generation (CANUG)"
  email: "info@canug.org"

markdown: kramdown
permalink: pretty
theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

github: [metadata]
safe: true
lsi: false
excerpt_separator: "\n\n"
incremental: false

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .git
  - .gitignore
  - README.md